// Base styles for Nav Dropdown
.main-nav-dropdown {
    position: absolute;
    background-color: $bright;
    box-shadow:  0px 0px 5px $gray;
    width: 90%;
    max-width: 1600px;
    height: 230px;
    padding: $baseline;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    top: 80px;
    transition: all 0.5s ease;
    display: none;
    z-index: 999;

    @include media('>wide') {
        height: 290px;
    }

    ul {
        list-style: none;
        margin: 0;
        transition: all 0.5s ease;

        @include media('>wide') {
           
        }

        li {
            padding: 10px 0;
            line-height: 21px;
            font-size: $font-size-normal;
            text-align: center;

            @include media('>wide') {
                font-size: $font-size-large;
            }
        }
    }

    img {
        width: 100%;
        max-height: 230px;
    }
}

// Show Menu On hover
.has-dropdown {
    &:hover .main-nav-dropdown,
    &:hover .collections::after {
        display: block;
    }
    
    // Custom pointer arrow for dropdown
    .collections {
        position: relative;
    
        &::after {
            position: absolute; 
            display: none;
            content: '▲';
            color: $bright;
            width: 20px; 
            height: 20px;
            font-size: 20px;
            text-shadow: 0 -7px 4px rgba(215,215,215, 0.2);
            bottom: -36px;
            left: 40%;
            z-index: 9999;
        }
    }
}

